{% extends "blog/base.html" %}
{% block content %}

        <h1>About</h1>
    <div>
         <p>
            Welcome to the DataScienceBrian Blog! This blog style web app lets different users write different posts.
            New users can create a new account. Existing users can login or reset their password by email.
        </p> 
    </div>
    <div>
        <p><small>DataScienceBrian Blog was built to learn the capabilities of Django Framework and Python for web development.</small></p>    
    </div>
{% endblock content %}
